﻿@model List<CapstoneBlog.Models.PostVM>
@{
    ViewBag.Title = "AuthorPage";
}

@if (Model.Where(p => !p.isApproved && p.isRejected).Count() > 0)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            Posts To Be Reviewed
        </div>
        <div class="panel-body">
            @foreach (var post in Model)
            {
                if (!post.isApproved && post.isRejected)
                {
                    @Html.Partial("ReviseBlogShortPartial", post)
                }
            }
        </div>
    </div>
}
@if (Model.Where(p => !p.isApproved && !p.isRejected).Count() > 0)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            Posts Pending
        </div>
        <div class="panel-body">
            @foreach (var post in Model)
            {
                if (!post.isApproved && !post.isRejected)
                {
                    @Html.Partial("ReviseBlogShortPartial", post)
                }
            }
        </div>
    </div>
}
@if (Model.Where(p => p.isApproved && (p.Expiration == null || p.Expiration > DateTime.Now)).Count() > 0)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            Posts Published
        </div>
        <div class="panel-body">
            @foreach (var post in Model)
            {
                if (post.isApproved && (post.Expiration == null || post.Expiration > DateTime.Now))
                {
                    @Html.Partial("ReviseBlogShortPartial", post)
                }
            }
        </div>
    </div>
}