﻿@model CapstoneBlog.Models.PostVM

<div class="panel panel-default col-lg-8">
    <div class="panel-body">
        <table data-postid="@Model.PostID" id="PostRow" width="100%">
            <tr>
                <!--Title, Time posted ago-->
                <td><h3>@Model.Title</h3></td>
                <td align="right">
                    <div>
                        <span>Posted ~</span>
                        @if (Model.GetAge().Days < -1)
                        {
                            @Math.Abs(Model.GetAge().Days)
                            <span>days ago</span>
                        }
                        else if (Model.GetAge().Hours < -1)
                        {
                            @Math.Abs(Model.GetAge().Hours)
                            <span>hours ago</span>
                        }
                        else
                        {
                            @Math.Abs(Model.GetAge().Minutes)
                            <span>minutes ago</span>
                        }
                    </div>
                    <div>
                        @if (Model.Expiration != null)
                        {
                            <span>Expires in</span>
                            if(Model.GetRemainingTime().Days > 1)
                            {
                                @Math.Abs(Model.GetRemainingTime().Days)
                                <span>days</span>
                            }
                            else if (Model.GetRemainingTime().Hours > 1)
                            {
                                @Math.Abs(Model.GetRemainingTime().Hours)
                                <span>hours</span>
                            }
                            else
                            {
                                @Math.Abs(Model.GetRemainingTime().Minutes)
                                <span>minutes</span>
                            }
                        }
                    </div>
                </td>
            </tr>
            <tr>
                <!--Description-->
                <td colspan="2" style="padding: 10px;">
                    <p>@Model.GetRaw().Substring(0, Math.Min(Model.GetRaw().Length, 200))</p>
                </td>
            </tr>
            <tr>
                <td>Click to Keep Reading!</td>
                <td>
                    
                </td>
            </tr>
        </table>
    </div>
</div>