﻿@model List<CapstoneBlog.Models.PostVM>

<div style="width:100%; height:90%; overflow-y:auto; overflow-x:hidden;">
    <h2>Home</h2>
    <hr align="left" width="80%" style="border-top: 2px solid gold;" />
    <table width="100%">
        <tr>
            <td width="200px">
                <input id="CategorySearchBox" type="text" />
            </td>
            <td>
                <button id="CategorySearchButton">Search <span class="glyphicon glyphicon-search"></span></button>
            </td>
        </tr>
        <tr style="height:10px;"></tr>
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="2"><h3>There are no posts available...</h3></td>
            </tr>
        }
        else
        {
            foreach (CapstoneBlog.Models.PostVM post in Model)
            {
                <tr>
                    <td colspan="2">@Html.Partial("BlogShortPartial", post)</td>
                </tr>
                
            }
        }
    </table>
</div>