﻿@model CapstoneBlog.Models.PostVM
@{
    ViewBag.Title = "Create";
}

<form id="PostEditorForm">
    <h2>Write New Post</h2>
    <hr align="left" width="80%" style="border-top: 2px solid gold;" />
    <table>
        <tr>
            <td>@Html.LabelFor(m => m.Title) :</td>
            <td>@Html.TextBoxFor(m => m.Title)</td>
        </tr>
        <tr height="10px;"></tr>
        <tr>
            <td><label>Static Page</label> :</td>
            <td>@Html.CheckBoxFor(m => m.isStaticPage)</td>
        </tr>
        <tr height="10px;"></tr>
        <tr>
            <td><label>Expiration</label> :</td>
            <td>@Html.EditorFor(m => m.Expiration, new { @style = "padding-top: 10px; padding-bottom: 10px;" })</td>
        </tr>
        <tr height="10px;"></tr>
        <tr>
            <td colspan="2">
                @Html.TextAreaFor(m => m.PostContent)
            </td>
        </tr>
        <tr height="10px;"></tr>
        <tr>
            <td style="width: 100px; overflow-x:visible;"><button type="submit">Submit for Review</button></td>
            <td></td>
        </tr>
    </table>
</form>