﻿@model List<CapstoneBlog.Models.PostVM>
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

<!-- Divs for content -->
<!-- Header -->
<!-- Sidebar -->
<!-- MainBody -->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        My Blog Page
    </title>
    
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div id="Window" height="100%" width="100%" style="overflow-x:hidden;">
        <div class="row">
            <div class="navbar navbar-fixed-top" style="background-color:rgb(12, 36, 73);">
                <div id="Header" class="container">
                    <div class="navbar-header">
                        @Html.ActionLink("Caracals Blog", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", @style = "color:gold;" })
                        <ul class="nav navbar-nav navbar-right">
                            <li width="300px" class="dropdown" style="background-color:rgb(12, 36, 73);">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:gold;">Pages<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
                                <ul class="dropdown-menu" style="background-color:rgb(12, 36, 73);">
                                    <li><a href="#" id="RedirectToHome" style="color:gold;">Home</a></li>
                                    @foreach(CapstoneBlog.Models.PostVM post in Model)
                                    {
                                        <li><a href="#" data-postid="@post.PostID" id="StaticPageLink" style="color:gold;">@post.Title</a></li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @if (Request.IsAuthenticated)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li width="300px" class="dropdown" style="background-color:rgb(12, 36, 73);">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:gold;">@User.Identity.GetUserName()<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="glyphicon glyphicon-user pull-right"></span></a>
                                <ul class="dropdown-menu" style="background-color:rgb(12, 36, 73);">
                                    
                                    
                                    @if (Request.IsAuthenticated && User.IsInRole("Editor"))
                                    {
                                        <li><a href="#" id="AdminLink" style="color:gold;">Editor</a></li>
                                        <li><a href="#" id="ViewUserList" style="color:gold;"><span>Manage Users</span><span class="glyphicon glyphicon-cog pull-right"></span></a></li>
                                    }
                                    else if (Request.IsAuthenticated && User.IsInRole("Author"))
                                    {
                                        <li><a href="#" id="AdminLink" style="color:gold;">Author</a></li>
                                    }
                                    else if (Request.IsAuthenticated)
                                    {
                                        <li><a href="#" style="color:gold;">User</a></li>
                                    }
                                    <li class="divider"></li>
                                    @using Microsoft.AspNet.Identity
                                    @if (Request.IsAuthenticated)
                                    {

                                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-search pull-right", style = "color:gold; margin:0px;" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <li><a class="mynavlink" href="javascript:document.getElementById('logoutForm').submit()" style="float:left; color:gold; display:block; padding:3px 20px 3px 20px;">Log off<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
                                        }
                                    }
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li width="300px" class="dropdown" style="background-color:rgb(12, 36, 73);">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:gold;">Account<span>&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="glyphicon glyphicon-user pull-right"></span></a>
                                <ul class="dropdown-menu" style="background-color:rgb(12, 36, 73);">
                                    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @style = "color:gold;" })</li>
                                    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "color:gold;" })</li>
                                </ul>
                            </li>
                        </ul>
                    }     
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 20px;">
            <div id="Sidebar" class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <img class="img-responsive img-block center-block" style="object-fit:cover contain;" src="~/Content/caracals.jpg" />
            </div>
            <!--Blog Post Position holds the users current viewing position.
                Defaults to 0, and increments by 10-->
            <div id="BlogPostPosition" data-pos="0" hidden="hidden"></div>
            <div id="MainBody" data-canwrite="@(User.IsInRole("Author") || User.IsInRole("Editor"))" class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="height:calc(100% - 51px);">
                
            </div>
        </div>
    </div>
</body>

<script>
    $(function () {
        Capstone = {
            //Sets up all listeners and pulls initial index data
            Start: function () {
                Capstone.SetupListeners();
                Capstone.SetupTinyMCE();
                var pos = parseInt($("#BlogPostPosition").data("pos"));
                //Loads blog data on startup
                $.ajax({
                    method: "GET",
                    url: "/Home/GetPosts",
                    data: { pos: pos }
                }).done(function (data) {
                    $("#MainBody").html(data);
                    if ($("#MainBody").data("canwrite") == "True") {
                        $("#MainBody").append("<div id='Bottombar'><button id='CreatePost'>Write Post</button></div>");
                    }

                }).fail(function (data) {
                    alert("Something went wrong...");
                });
            },
            SetupTinyMCE: function(){
                //Tiny MCE
                tinymce.init({
                    selector: 'textarea',
                    height: 300,
                    encoding: "xml",
                    theme: 'modern',
                    plugins: [
                      'advlist autolink lists link image charmap preview hr anchor pagebreak',
                      'searchreplace wordcount visualblocks visualchars code',
                      'insertdatetime media nonbreaking save table contextmenu directionality',
                      'emoticons template paste textcolor colorpicker textpattern imagetools codesample toc'
                    ],
                    statusbar: true,
                    toolbar1: 'undo redo | insert | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
                    toolbar2: 'print preview media | forecolor backcolor emoticons | codesample',
                    image_advtab: true,
                    cleanup: true,
                    templates: [
                      { title: 'Test template 1', content: 'Test 1' },
                      { title: 'Test template 2', content: 'Test 2' }
                    ],
                    content_css: [
                      '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                      '//www.tinymce.com/css/codepen.min.css'
                    ]
                });
            },
            TinyMCERefresh: function () {
                tinymce.EditorManager.execCommand('mceRemoveEditor', true, "PostContent");
                tinymce.EditorManager.execCommand('mceAddEditor', true, "PostContent");
            },
            SetupListeners: function () {
                $(document).on("click", "#CreatePost", function () {
                    $.ajax({
                        method: "GET",
                        url: "/Home/Create"
                    })
                    .done(function (data) {
                        $("#MainBody").html(data);
                        Capstone.TinyMCERefresh();
                    })
                    .fail(function (data) {
                        alert("Something went wrong...");
                    });
                });
                $(document).on("submit", "#PostEditorForm", function (event) {
                    event.preventDefault();
                    var Title = $("#Title").val();
                    var isStaticPage = $("#isStaticPage").is(":checked");
                    var Expiration = $("#Expiration").val();
                    var PostContent = tinymce.activeEditor.getContent();
                    PostContent = PostContent.replace(/&#39/g, "&apos");
                    $.ajax({
                        method: "POST",
                        url: "/Home/PostForReview",
                        data: "Title=" + Title + "&Expiration=" + Expiration + "&isStaticPage=" + isStaticPage + "&PostContent=" + PostContent
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    }).fail(function () {
                        alert("Post failed!");
                    });
                });
                //RevisePostRow
                $("body").on("click", "#RevisePostRow", function () {
                    var value = $(this).data("postid");
                    $.ajax({
                        method: "GET",
                        url: "/Home/ReviseBlog",
                        data: { postId: value }
                    }).done(function (data) {
                        $("#MainBody").html(data);
                        Capstone.TinyMCERefresh();
                    })
                });
                //PostRow, User clicks to read post
                $("body").on("click", "#PostRow", function () {
                    var value = $(this).data("postid");
                    $.ajax({
                        method: "GET",
                        url: "/Home/ReadBlog",
                        data: {postId: value}
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    })
                });
                //CommentButton
                $("body").on("click", "#CommentButton", function () {

                });
                $("body").on("click", "#AdminLink", function () {
                    $.ajax({
                        method: "GET",
                        url: "/Home/Admin"
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    }).fail(function () {
                        alert("Something went wrong");
                    })
                })
                $("body").on("click", "#SaveRevision", function () {
                    var PostID = $("#PostID").val();
                    var Title = $("#Title").val();
                    var isStaticPage = $("#isStaticPage").is(":checked");
                    var Expiration = $("#Expiration").val();
                    var PostContent = tinymce.activeEditor.getContent();
                    PostContent = PostContent.replace(/&#39/g, "&apos");
                    $.ajax({
                        method: "POST",
                        url: "/Home/SavePost",
                        data: "PostID=" + PostID + "&Title=" + Title + "&Expiration=" + Expiration + "&isStaticPage=" + isStaticPage + "&PostContent=" + PostContent
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    }).fail(function () {
                        alert("Post failed!");
                    });
                });
                $("body").on("click", "#EditorApprove", function () {
                    var PostID = $(this).data("postid");
                    $.ajax({
                        method: "POST",
                        url: "/Home/SetPostApproved",
                        data: { postID: PostID }
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    }).fail(function () {
                        alert("Approval failed!");
                    })
                });
                $("body").on("click", "#EditorReject", function () {
                    var PostID = $(this).data("postid");
                    $.ajax({
                        method: "POST",
                        url: "/Home/SetPostRejected",
                        data: { postID: PostID }
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    }).fail(function () {
                        alert("Approval failed!");
                    })
                });
                $("body").on("click", "#StaticPageLink", function () {
                    var PostID = $(this).data("postid");
                    $.ajax({
                        method: "GET",
                        url: "/Home/LoadStatic",
                        data: { postID: PostID }
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    }).fail(function () {
                        alert("Link failed!");
                    })
                });
                $("body").on("click", "#RedirectToHome", function () {
                    var pos = 0;
                    $.ajax({
                        method: "GET",
                        url: "/Home/GetPosts",
                        data: { pos: pos }
                    }).done(function (data) {
                        $("#MainBody").html(data);
                        if ($("#MainBody").data("canwrite") == "True") {
                            $("#MainBody").append("<div id='Bottombar'><button id='CreatePost'>Write Post</button></div>");
                        }
                    }).fail(function (data) {
                        alert("Something went wrong...");
                    });
                });
                $("body").on("click", "#ViewUserList", function () {
                    $.ajax({
                        method: "GET",
                        url: "/Home/UserList"
                    }).done(function (data) {
                        $("#MainBody").html(data);
                    }).fail(function (data) {
                        alert("Something went wrong...");
                    });
                })
                $("body").on("click", "#CategorySearchButton", function () {
                    var categories = $("#CategorySearchBox").val();
                    $.ajax({
                        method: "GET",
                        url: "/Home/GetPostsByCategory",
                        data: { category: categories }
                    }).done(function (data) {
                        $("#MainBody").html(data);
                        setTimeout(function () {
                            $("#CategorySearchBox").val = categories;
                            alert("Set");
                        }, 500);
                    }).fail(function (data) {
                        alert("Something went wrong...");
                    });
                });
                //Role-User
                $("body").on("click", "#Role-User", function () {
                    var authId = $(this).data("userid");
                    $.ajax({
                        method: "POST",
                        url: "/Home/UpdateUserRole",
                        data: { id: authId, role: "User" }
                    }).fail(function () {
                        alert("Role Change Failed...");
                    });
                });
                $("body").on("click", "#Role-Author", function () {
                    var authId = $(this).data("userid");
                    $.ajax({
                        method: "POST",
                        url: "/Home/UpdateUserRole",
                        data: { id: authId, role: "Author" }
                    }).fail(function () {
                        alert("Role Change Failed...");
                    });
                });
                $("body").on("click", "#Role-Editor", function () {
                    var authId = $(this).data("userid");
                    $.ajax({
                        method: "POST",
                        url: "/Home/UpdateUserRole",
                        data: { id: authId, role: "Editor" }
                    }).fail(function () {
                        alert("Role Change Failed...");
                    });
                });
            }
        }

        Capstone.Start();
    });
</script>