﻿@model CapstoneBlog.Models.PostVM
@{
    ViewBag.Title = "ReadBlog";
}


<div class="panel col-lg-9">
    <div class="panel-heading">
        <h2>@Model.Title</h2>
        <p>Written By : @Model.UserName</p>
        <p>On : @Model.Date.ToString("MM/dd/yyyy")</p>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Raw(Model.PostContent)
        </div>
    </div>
    <div class="panel-body">
        <!--<button id="CommentButton">Comment</button>-->
        <div hidden="hidden" id="CommentDiv">
            <!--Make tinyMCE for comments as well-->
            <button data-postid="@Model.PostID" id="PostComment"></button>
        </div>
    </div>
</div>


