﻿@model CapstoneBlog.Models.PostVM
@{
    ViewBag.Title = "ReviseBlogShortPartial";
}

<div class="panel panel-default col-lg-8">
    <div class="panel-body">
        <table data-postid="@Model.PostID" id="RevisePostRow" width="100%">
            <tr style="padding-top:0px;">
                <td><h3 style="padding-top:0px;">@Model.Title @if (Model.isStaticPage) { <span>(Static)</span> }</h3></td>
                <td align="right">
                    Edited ~
                    @if (Model.GetAge().Days < -1)
                    {
                        @Math.Abs(Model.GetAge().Days)
                        <span>days ago</span>
                    }
                    else if (Model.GetAge().Hours < -1)
                    {
                        @Math.Abs(Model.GetAge().Hours)
                        <span>hours ago</span>
                    }
                    else
                    {
                        @Math.Abs(Model.GetAge().Minutes)
                        <span>minutes ago</span>
                    }
                </td>
            </tr>
            @if (User.IsInRole("Editor"))
            {
                <tr>
                    <td>Written By: @Model.UserName</td>
                </tr>
            }
            <tr>
                <!--Description-->
                <td colspan="2" style="padding: 10px;">
                    @Model.GetRaw().Substring(0, Math.Min(Model.GetRaw().Length, 200))
                </td>
            </tr>
            <tr>
                <td>Click to edit!</td>
                <td></td>
            </tr>
        </table>
    </div>
    @if(Request.IsAuthenticated && User.IsInRole("Editor"))
    {
        <div style="padding-bottom:10px;">
            <button data-postid="@Model.PostID" id="EditorApprove">Approve</button>
            <button data-postid="@Model.PostID" id="EditorReject">Reject</button>
        </div>
    }
</div>