﻿@model CapstoneBlog.Models.PostVM

<h2>Revision</h2>
<hr align="left" width="80%" style="border-top: 2px solid gold;"/>
<table>
    @Html.HiddenFor(m => m.PostID)
    <tr>
        <td>@Html.LabelFor(m => m.Title) :</td>
        <td>@Html.TextBoxFor(m => m.Title)</td>
    </tr>
    <tr height="10px;"></tr>
    <tr>
        <td><label>Static Page</label> :</td>
        <td>@Html.CheckBoxFor(m => m.isStaticPage)</td>
    </tr>
    <tr height="10px;"></tr>
    <tr>
        <td><label>Expiration</label> :</td>
        <td>@Html.EditorFor(m => m.Expiration, new { @style = "padding-top: 10px; padding-bottom: 10px;" })</td>
    </tr>
    <tr height="10px;"></tr>
    <tr>
        <td colspan="2">
            <textarea id="PostContent">
                @Model.PostContent
            </textarea>
        </td>
    </tr>
    <tr height="10px;"></tr>
    <tr>
        <td style="width: 100px; overflow-x:visible;"><button id="SaveRevision">Save</button></td>
        <td></td>
    </tr>
</table>