﻿@model CapstoneBlog.Models.PostVM

<table width="80%">
    <tr>
        <td><h2>@Model.Title</h2></td>
        @if (User.IsInRole("Editor") || User.IsInRole("Author"))
        {
            <td align="right"><button data-postid="@Model.PostID" id="RevisePostRow">Edit</button></td>
        }
    </tr>
</table>
<hr align="left" width="80%" style="border-top: 2px solid gold;" />
<div class="panel col-lg-9">
    <div class="panel panel-default">
        <div class="panel-body">
            @Html.Raw(Model.PostContent)
        </div>
    </div>
</div>


