﻿@model List<CapstoneBlog.Models.UserVM>
@{
    ViewBag.Title = "UserList";
}

<h2>UserList</h2>
<hr align="left" width="80%" style="border-top: 2px solid gold;" />
<table class="table table-striped" style="width:80%">
    <thead>
        <tr>
            <th><label>Username</label></th> 
            <th><label>User</label></th>     
            <th><label>Author</label></th> 
            <th><label>Editor</label></th> 
        </tr>
    </thead>
    <tbody id="roles">
        @foreach (CapstoneBlog.Models.UserVM user in Model)
            {
            <tr>
                <td width="50%">@user.UserName</td>
                @if(user.Role == "User") 
                {
                    <td><input data-userid="@user.AuthID" id="Role-User" type="radio" name="@user.AuthID+role" checked/></td>
                }
                else
                {
                    <td><input data-userid="@user.AuthID" id="Role-User" type="radio" name="@user.AuthID+role"/></td>
                }
                @if (user.Role == "Author")
                {
                    <td><input data-userid="@user.AuthID" id="Role-Author" type="radio" name="@user.AuthID+role" checked /></td>
                }
                else
                {
                    <td><input data-userid="@user.AuthID" id="Role-Author" type="radio" name="@user.AuthID+role" /></td>
                }
                @if (user.Role == "Editor")
                {
                    <td><input data-userid="@user.AuthID" id="Role-Editor" type="radio" name="@user.AuthID+role" checked /></td>
                }
                else
                {
                    <td><input data-userid="@user.AuthID" id="Role-Editor" type="radio" name="@user.AuthID+role" /></td>
                }
            </tr>
        }
    </tbody>
</table>