﻿a.mynavlink:hover, a.mynavlink:focus{
    text-decoration: none;
    background-color: #eee;
    color: rgb(12, 36, 73);
}

dropdown{
    width: 300px;
}

h1, h2, h3, h4, h5{
    color: rgb(12, 36, 73);
    font-weight: 700;
}

.mce-path{
    display: none;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
